*{
    margin: 0;
}

body{
    color:#ffffff;
}

.header {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0;
    font-family: "Open Sans", sans-serif;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

.logo{
    width: 15%;
    height: 100%;
}

.navbar{
    width: 70%;
    text-align: center;
    font-weight: 500;
}

.navbar li{
    margin-right: 25px;
}

.navbar li a{
    text-decoration: none;
    color: #025157;
}

.actions{
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}

.actions a{
    text-decoration: none;
    color: #025157;
}

.actions > *{
    margin-right: 10px;
}

.btn{
    color: white;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 5px;
    font-size: 1rem;
}

.btn-main{
    background-color: #025157;
}

.btn-success{
    background-color: #67b54b;
}

.mr-20{
    margin-right: 20px;
}

.mr-60{
    margin-right: 60px;
}

.mt-15{
    margin-top: 15px;
}

.mt-10{
    margin-top: 10px;
}

.mb-40{
    margin-bottom: 40px;
}


li{
    display: inline;
}

.text-main{
    color: #025157;
}

.opaco{
    font-weight: 500;
    font-size: 14px;
    color: rgba(139, 139, 139,8);
}

.uppercase{
    text-transform: uppercase;
}

p{
    color: black;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
}

main {
    margin-top: 240px;
    text-align: center;
}

.container-intro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
}

.container-half{
    width: 50%;
    padding-left: 300px;
    line-height: 1;
}

.vid__imgs--1{
    position: absolute;
    right: 400px;
    top: 200px;
}

.vid__imgs--2{
    position: absolute;
    right: 570px;
    top: 240px;
}

.vid__imgs--3{
    position: absolute;
    right: 270px;
    top: 400px;
}

.vid__imgs--4{
    position: absolute;
    right: 620px;
    top: 500px;
}

.vid__imgs--5{
    position: absolute;
    right: 250px;
    top: 520px;
}

.vid__imgs--6{
    position: absolute;
    right: 420px;
    top: 480px;
}

.play_btn{
    position: absolute;
    top: 420px;
    right: 500px;
    background-color: #025157;
    opacity: 0.5;
    height: 100px;
    width: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 13px;
}

.play_btn:hover{
    cursor: pointer;
    background-color: #6abf4b;
    opacity: 1.0;
}

.play_btn:hover p{
    text-decoration: underline;
}

.title-intro{
    font-size: 57px;
    font-weight: 700;
    font-family: vesterbroextrabold,Arial,sans-serif;
    width: 336px;
    margin-bottom: 24px;
}

.subtitle{
    font-size: 20px;
    font-weight: 400;
    color: #46484c;
    font-family: 'IBM Plex Sans',Arial,sans-serif;
    margin-bottom: 30px;
}

.brands{
    margin-top: 60px;
    margin-bottom: 60px;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card{
    padding: 50px;
}

.grid_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
    /* hola */
  }
  
  /** dispositivos pequeños en vista landscape (horizontal) */
  @media (min-width: 576px) and (max-width: 767px) {
    /* hola */
  }
  
  /** dispositivos medianos (tablets) */
  @media (min-width: 768px) and (max-width: 991px) {
    /* hola */
  }
  
  /** dispositivos grandes (desktops) */
  @media (min-width: 992px) and (max-width: 1199px) {
    /* hola */
  }
  
  /** dispositivos extra grandes (monitores grandes, tvs) */
  @media (min-width: 1200px) {
    /* hola */
  }