*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    background-color: #fffbf7;
}

.header {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0;
    height: 45px;
    font-family: sans-serif;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    line-height: 45px;
}

.logo {
    width: 15%;
}

.logo > img {
    height: 100%;
  }

.navbar {
    width: 70%;
    text-align: center;
    font-weight: 500;
    color: #025157;
}

.actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}

li{
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
}

.actions >*{
    margin-right: 10px;
    margin-left: 10px;
}

.actions > a{
    color: #67b54b;
    text-decoration: none;
}

.actions > button{
    color: white;
    background-color: #67b54b;
    border: none;
    border-radius: 5px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
}


